DXF2GCODE/
grbl/
UGS/
XLOADER/
grbl_*
Projekt/szkola/calosc
Elementy*
ugsplatform/
Projekt/Koszty.ods
GcodeGenerator/Common/__pycache__/
GcodeGenerator/CppWorkspace/ToolpathGenerator/build-debug/
*swp
