DXF2GCODE/
grbl/
UGS/
XLOADER/
grbl_*
Projekt/szkola/calosc
Elementy*
ugsplatform/
Projekt/Koszty.ods
GcodeGenerator/Common/__pycache__/
GcodeGenerator/CppWorkspace/ToolpathGenerator/build-debug/
.*swp
.*swn
GcodeGenerator/3rdPartyScripts/freecadApi/Generated/*
GcodeGenerator/3D/Generated/*
MeshFix-V2.1/*
*.bak
*.original
*.dwl2
GcodeGenerator/.idea/*
